<div id="cookie-notice">
    <span>We would like to use third party cookies and scripts to improve the
        functionality of this website.</span>
    <a id="cookie-notice-accept" class="button">Accept</a>
    <a id="cookie-notice-deny" class="button">No Thanks</a>
    <a href="/privacy">More info</a>
</div>

<script src = "https://js.monitor.azure.com/scripts/b/ai.2.min.js"></script>

<script>
    function createCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function cookieExists(name) {
        return document.cookie.split(';').some((item) => item.trim().startsWith(name)) ? true : false;
    }

    function readCookie(name) {
        if (cookieExists(name)) {
            return document.cookie.split('; ').find(row => row.startsWith(name)).split('=')[1];
        }
        return null;
    }
    
    function eraseCookie(name) {
        createCookie(name, "", -1);
    }

    if (readCookie('cookie-notice-option') == 'true') {
        var snippet = {
            config: {
                instrumentationKey: "#{APP_INSIGHTS_KEY_PLACEHOLDER}#"               
            }
        };
        var init = new Microsoft.ApplicationInsights.ApplicationInsights(snippet);
        var appInsights = init.loadAppInsights();
        appInsights.trackPageView();

    } else if (readCookie('cookie-notice-option') == null) {
        document.getElementById('cookie-notice').style.display = 'block';
    }

    document.getElementById('cookie-notice-accept').addEventListener("click", function () {
        createCookie('cookie-notice-option', 'true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

    document.getElementById('cookie-notice-deny').addEventListener("click", function () {
        createCookie('cookie-notice-option', 'false', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

</script>
